# secrets
config.user.R

# outputs / caches
data/out/
data/raw/
data/checks/

# RStudio / R junk
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# package managers (if any)
renv/library/
renv/staging/
.packrat/